@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #FFFFFF;
    --foreground: #1A1A1A;
    --card: #FFFFFF;
    --card-foreground: #1A1A1A;
    --popover: #FFFFFF;
    --popover-foreground: #1A1A1A;
    --primary: #C31952;
    --primary-foreground: #FCF0F4;
    --secondary: #F5F5F5;
    --secondary-foreground: #1A1A1A;
    --muted: #F5F5F5;
    --muted-foreground: #808080;
    --accent: #F5F5F5;
    --accent-foreground: #1A1A1A;
    --destructive: #DC2626;
    --destructive-foreground: #FFFFFF;
    --border: #E5E5E5;
    --input: #E5E5E5;
    --ring: #C31952;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: #F5F5F5;
    --sidebar-foreground: #1A1A1A;
    --sidebar-primary: #C31952;
    --sidebar-primary-foreground: #FCF0F4;
    --sidebar-accent: #E5E5E5;
    --sidebar-accent-foreground: #1A1A1A;
    --sidebar-border: #E5E5E5;
    --sidebar-ring: #C31952;
}

.dark {
    --background: #1A1A1A;
    --foreground: #FAFAFA;
    --card: #2D2D2D;
    --card-foreground: #FAFAFA;
    --popover: #2D2D2D;
    --popover-foreground: #FAFAFA;
    --primary: #A21245;
    --primary-foreground: #FCF0F4;
    --secondary: #3B3B3B;
    --secondary-foreground: #FAFAFA;
    --muted: #3B3B3B;
    --muted-foreground: #ABABAB;
    --accent: #3B3B3B;
    --accent-foreground: #FAFAFA;
    --destructive: #F06050;
    --destructive-foreground: #FAFAFA;
    --border: #FFFFFF1A;
    --input: #FFFFFF1A;
    --ring: #A21245;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: #2D2D2D;
    --sidebar-foreground: #FAFAFA;
    --sidebar-primary: #A21245;
    --sidebar-primary-foreground: #FCF0F4;
    --sidebar-accent: #3B3B3B;
    --sidebar-accent-foreground: #FAFAFA;
    --sidebar-border: #FFFFFF1A;
    --sidebar-ring: #A21245;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
    }
  html {
    @apply font-sans;
    }
}